# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Venci\source\repos\VencislavKolev\SoftUni-Courses\Java DB\SpringData\03-Hibernate-Intro-Lab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
