# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Venci\source\repos\VencislavKolev\SoftUni-Courses\C# Advanced\Exams\Java-Advanced\Java Advanced Retake Exam - 16 December 2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
